body {
    background-color: #F5BB00;
  }
  
  .btn {
    cursor: pointer;
  }
  body {
    color: #2D3047;
  }
  
  .clicked {
    color: #7f8c8d;
  }
  
  .form,
  .greetings {
    display: none;
  }
  
  .showing {
    display: block;
  }
